.VideoPlayer {
  display: flex;
  justify-content: space-between;
}
.main_video {
  margin: 30px 30px 0 80px;
  width: 70%;
  border: 1px solid red;
}
.related_videos {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: 1px solid green;
}
